@use '~/style/env.scss';

.root {
  width: 100%;
  height: 100%;
  color: rgb(57, 233, 80);
  padding: env.$gap;

  canvas {
    display: block;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    white-space: nowrap;
    border-bottom: 1px solid env.$gray;
    padding-bottom: 4px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 12px;
  }
}

.receiver {
  width: 100%;
  max-width: 500px;
  height: 200px;
  border-radius: 8px;
  border: 2px dashed gray;
  justify-self: center;
  margin: 0 env.$gap;
}
