@use '~/style/env.scss';

.root {
  width: 100%;
  min-width: 800px;
  height: 100%;
  color: rgb(57, 233, 80);
  align-items: center;
  padding: env.$gap;
  border-right: 1px solid env.$gray;

  canvas {
    display: block;
  }
}

.receiver {
  width: 100%;
  max-width: 500px;
  height: 200px;
  border-radius: 8px;
  border: 2px dashed gray;
  justify-self: center;
  margin: 0 env.$gap;
}
