@use '~/style/env.scss';

.root {
  width: 100%;

  nav {
    height: 60px;
    color: env.$color-text;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: env.$screen-small) {
  .root {
    nav {
      height: 40px;
    }
  }
}
